.mat-form-field {
    display: block;
    margin-bottom: 10px;
}

#dialog-actions{
    justify-content: center;
}

#login-button {
    width: 150px;
}

#error-message {
    background-color: #e2d8f3;
    color: #673ab7;
    border-radius: 5px;
    padding-left: 30px;
    padding-block-start: 5px;
    padding-block-end: 5px;
}