<h1 mat-dialog-title>Nerd on the Move - Admin</h1>
<form (ngSubmit)="login()" #loginForm="ngForm">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput required [(ngModel)]="data.email" name="email">
            <mat-hint *ngIf="wrongEmailFormat">Please enter a valid email address</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput required [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="data.password" name="password">
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div mat-dialog-actions id="dialog-actions">
        <button mat-raised-button color="primary" id="login-button" type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </div>
</form>