<div class="container">
    <h2>Users - {{ title }}</h2>
    <form (ngSubmit)="onSaveUser()" #userForm="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput required [(ngModel)]="user.username" name="username">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput required [(ngModel)]="user.email" name="email">
            <mat-hint *ngIf="wrongEmailFormat">Please enter a valid email address</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [required]="passwordRequired" [(ngModel)]="user.password" name="password">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Full name</mat-label>
            <input matInput required [(ngModel)]="user.fullName" name="fullName">
        </mat-form-field>

        <div class="isAdminCheckbox">
            <mat-checkbox [(ngModel)]="user.isAdmin" labelPosition="before"  name="isAdmin">
                User is admin: 
            </mat-checkbox>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.form.valid">Save</button>
    </form>
</div>