<div class="notm-container" [class.is-mobile]="mobileQuery.matches">
    <app-toolbar (menuClicked)="sidenav.toggle()" class="toolbar" [isMobile]="mobileQuery.matches"></app-toolbar>
    
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="opened"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <app-side-nav></app-side-nav>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>