.notm-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
  
.is-mobile .toolbar {
    position: fixed;
    z-index: 2;
    width: 100vw;
}
  
.sidenav-container {
    flex: 1;
}
  
.is-mobile .sidenav-container {
    flex: 1 0 auto;
}

mat-sidenav {
    width: 200px;
}