<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Pictures
        </mat-panel-title>
        <mat-panel-description>
            Click here to add/edit/remove pictures...
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="selectedPicture.description"  name="description" rows="2"
        placeholder="Short description of picture..."></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput [(ngModel)]="selectedPicture.location" name="location">
    </mat-form-field>

    <div class="isFeatureImageCheckbox">
        <mat-checkbox [(ngModel)]="selectedPicture.isFeaturePicture" labelPosition="before"  name="isFeaturePicture">
            Feature picture: 
        </mat-checkbox>
    </div>

    <button mat-raised-button color="primary" type='button' (click)="addOrEditPicture()" class="saveButton">Add/edit picture</button>
  
    <mat-card *ngFor="let picture of pictures">
        <p>Description: {{ picture.description }}</p>
        <p>Location: {{ picture.location }}</p>
        <p>Feature picture: <mat-checkbox [(ngModel)]="picture.isFeaturePicture" [disabled]="true"></mat-checkbox></p>
        <mat-card-actions>
			<button mat-stroked-button color="primary" type='button' (click)="editPicture(picture)"><fa name="edit"></fa></button>
			<button mat-stroked-button color="primary" type='button' (click)="removePicture(picture)"><fa name="trash"></fa></button>
		</mat-card-actions>
    </mat-card>
  
</mat-expansion-panel>