.mat-card {
    margin-bottom: 10px;
}

.mat-expansion-panel {
    margin-bottom: 15px;
}

.mat-form-field {
    display: block;
}

.isFeatureImageCheckbox {
    display: block;
    margin-bottom: 15px;
}

.saveButton {
    margin-bottom: 10px;
}