.card-container{
    margin-left: 10px;
    margin-right: 10px;
}

.mat-card{
    height: 250px;
	display:flex;
	flex-direction: column;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.mat-card-content{
    display:flex; 
    flex-direction: column;
	flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0px;
}

.mat-card-subtitle {
    margin-bottom: 10px;
}

.mat-card-actions .mat-stroked-button:first-child, .mat-card-actions .mat-stroked-button {
    margin-left: 0px !important;
    margin-right: 8px !important;
}

fa {
    margin-right: 5px;
}

.postDescription, .isActiveCheckbox {
    margin-left: 16px;
    margin-right: 5px;
}

.isActiveCheckbox {
    margin-top: 8px;
    margin-bottom: 5px;
}

.tagsList {
    margin-top: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 335px) {
    .mat-card-actions .mat-stroked-button:first-child, .mat-card-actions .mat-stroked-button {
        margin-left: 0px !important;
        margin-right: 8px !important;
        margin-top: 4px;
    }
}

@media only screen and (max-width: 650px) and (min-width: 600px) {
    .mat-card-actions .mat-stroked-button:first-child, .mat-card-actions .mat-stroked-button {
        margin-left: 0px !important;
        margin-right: 8px !important;
        margin-top: 4px;
    }
}