<div class="card-container">
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ postCover.title }}</mat-card-title>
			<mat-card-subtitle>Written on {{ writeDate | date:'longDate' }} by {{ postCover.creator.username }}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div class="postDescription">
				{{ postCover.description }}
			</div>
			<div class="isActiveCheckbox">
				Visible on blog:
				<mat-checkbox [(ngModel)]="postCover.isActive" [disabled]="true"></mat-checkbox>
			</div>
			<div class="tagsList">
				<mat-chip-list>
					<mat-chip *ngFor="let tag of postCover.tags">{{ tag.name }}</mat-chip>
				</mat-chip-list>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-stroked-button color="primary" [routerLink]="['/post/' + postCover.postId + '/show']">
				<fa name="eye"></fa> Show
			</button>
			<button mat-stroked-button color="primary" [routerLink]="['/post/' + postCover.postId]">
				<fa name="edit"></fa> Edit
			</button>
			<button mat-stroked-button color="primary" (click)="OnDeleteClicked(postCover.postId)">
				<fa name="trash"></fa> Delete
			</button>
		</mat-card-actions>
	</mat-card>
</div>