<div class="container">
    <h2>Posts - {{ title }}</h2>
    <form (ngSubmit)="onSavePost()" #postForm="ngForm">
        <mat-form-field class="title-input" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput required [(ngModel)]="post.details.title" name="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput required [(ngModel)]="post.details.description"  name="description" rows="3"
            placeholder="Short description of the blogpost..."></textarea>
        </mat-form-field>

        <mat-form-field class="date-input" appearance="outline">
            <mat-label>Write date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="post.details.writeDate" name="writeDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="hasFeatureImageCheckbox">
            <mat-checkbox [(ngModel)]="post.details.hasFeaturePicture" labelPosition="before"  name="hasFeaturePicture">
                Feature image included: 
            </mat-checkbox>
        </div>

        <div class="isActiveCheckbox">
            <mat-checkbox [(ngModel)]="post.details.isActive" labelPosition="before"  name="isActive">
                Visible on website: 
            </mat-checkbox>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Text</mat-label>
            <button mat-stroked-button color="primary" type="button" class="html-button" (click)="addHTMLTagToText('<h1></h1>')">&lt;h1&gt;</button>
            <button mat-stroked-button color="primary" type="button" class="html-button" (click)="addHTMLTagToText('<h2></h2>')">&lt;h2&gt;</button>
            <button mat-stroked-button color="primary" type="button" class="html-button" (click)="addHTMLTagToText('<h3></h3>')">&lt;h3&gt;</button>
            <button mat-stroked-button color="primary" type="button" class="html-button" (click)="addHTMLTagToText('<p></p>')">&lt;p&gt;</button>
            <button mat-stroked-button color="primary" type="button" class="html-button" (click)="addHTMLTagToText('<br/>')">&lt;br&#47;&gt;</button>
            <textarea matInput required [(ngModel)]="post.text" name="text" rows="10"
            placeholder="Start writing the post here..."></textarea>
        </mat-form-field>

        <app-post-detail-tags [tags]="post.tags"></app-post-detail-tags>

        <app-post-detail-pictures [pictures]="post.pictures"></app-post-detail-pictures>

        <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.form.valid">Save</button>
    </form>
</div>