.mat-form-field {
    display: block;
}

button[type=submit] {
    margin-top: 10px;
    margin-bottom: 20px;
}

.html-button {
    width: 55px;
    min-width: 55px;
    padding: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.hasFeatureImageCheckbox {
    display: block;
    margin-bottom: 10px;
}

.isActiveCheckbox {
    display: block;
    margin-bottom: 25px;
}

@media only screen and (min-width: 600px){
    .date-input{
        width: 200px;
    }

    .title-input{
        width: 400px;
    }
}