<button mat-raised-button color="primary" class="AddButton" [routerLink]="['/tag/0']"><fa name="plus"></fa> Add tag</button>

<div class="tags-container">
    <h2>Tags</h2>

    <div class="table-container">
        <table mat-table [dataSource]="tags">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let tag"> {{tag.name}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let tag"> 
                    <a [routerLink]="['/tag/' + tag._id]"><fa name="edit"></fa></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a (click)="onDelete(tag._id)"><fa name="trash"></fa></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>