<div class="container">
    <h2>Tags - {{ title }}</h2>
    <form (ngSubmit)="onSaveTag()" #tagForm="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput required [(ngModel)]="tag.name" name="name">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!tagForm.form.valid">Save</button>
    </form>
</div>