<mat-toolbar color="primary">
    <button mat-icon-button (click)="menuIconClicked()" aria-label="MenuIcon"><fa name="bars"></fa></button>
    <h1 class="app-name">{{ isMobile ? shortBlogTitle : longBlogTitle }}</h1>

    <span class="fill-remaining-space"></span>
  
    <span *ngIf='isLoggedId'>{{ username }}</span>
    <button mat-icon-button *ngIf='isLoggedId' (click)="logout()" aria-label="LogoutIcon"><fa name="power-off"></fa></button>
</mat-toolbar>