<button mat-raised-button color="primary" class="AddButton" [routerLink]="['/user/0']"><fa name="plus"></fa> Add user</button>

<div class="users-container">
    <h2>Users</h2>

    <div class="table-container">
        <table mat-table [dataSource]="users">
            <!-- Username Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let user"> {{user.username}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let user"> {{user.email}} </td>
            </ng-container>

            <!-- Full name Column -->
            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef> Full name </th>
                <td mat-cell *matCellDef="let user"> {{user.fullName}} </td>
            </ng-container>

            <!-- IsAdmin Column -->
            <ng-container matColumnDef="isAdmin">
                <th mat-header-cell *matHeaderCellDef> Admin </th>
                <td mat-cell *matCellDef="let user"> <mat-checkbox [(ngModel)]="user.isAdmin" [disabled]="true"></mat-checkbox> </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let user"> 
                    <a [routerLink]="['/user/' + user._id]"><fa name="edit"></fa></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a (click)="onDelete(user._id)"><fa name="trash"></fa></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>