fa {
    font-size: 22px;
}

a {
    color: black;
}

table {
    width: 100%;
}

.users-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

  
.users-container h2 {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
    margin-left: 20px;
}
  
.users-container .table-container {
    flex: 1 1 auto;
    overflow: auto;
}