/* You can add global styles to this file, and also import other style files */
/* Primary color: #673ab7*/
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.backdropBackground {
    background-color: #e2d8f3;
}

.container {
    margin: 0px 20px;
}

.AddButton{
    position: absolute !important;
    top: 20px;
    right: 20px;
}