<button mat-raised-button color="primary" class="AddButton" [routerLink]="['/post/0']"><fa name="plus"></fa> Add post</button>

<div class="posts-container">
    <h2>Posts</h2>

    <div class="posts-grid">
        <mat-grid-list [cols]="(mobileQuery.matches) ? 1 : ((tabletQuery.matches) ? 2 : 3)" rowHeight="300px">
            <mat-grid-tile *ngFor="let cover of postCovers">
              <app-post-card [postCover]= "cover" (deleteClicked)='onDelete($event)'></app-post-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>