.posts-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

  
.posts-container h2 {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
    margin-left: 20px;
}
  
.posts-container .posts-grid {
    flex: 1 1 auto;
    overflow: auto;
}